@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,900&display=swap');


:root {
    --headingsFont: 'Montserrat', sans-serif;
    --bodyFont: 'Roboto', sans-serif;
    --fontSize: 16px;
    --gray: rgb(59,68,77);
    --lightgray: rgb(215,215,217);
    --white: rgb(255,255,255);
    --red: rgb(255,0,0);
    --transition: .3s ease;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-size: var(--fontSize);
    font-family: var(--bodyFont);
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* HEADER */

header img {
    padding: 30px 0 20px 0;
}

header div::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--red);
    display: block;
}

h1 {
    font-family: --var(--headingsFont);
    text-align: center;
    margin: 20px 0 20px 0;

}

.first-squad {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section:first-child {
    margin-top: 50px;
   
}

article {
    background-color: var(--lightgray);
    width: 20%;
    border: solid 1px red;
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 40px;
    width: 200px;
}

section:first-child:after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--red);
    display: block;
    margin-bottom: 100px;
    margin-top: 50px;
}

section img {
    padding: 25px 0 20px 0
}

article p {
    line-height: 25px;
}

.reserve-players {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 100px;
}